{% extends "pagina_blog/base.html" %}
{% load static %}

{% block subtitulo %}Acerca de mi{% endblock subtitulo %}

{% block contenido %}

<h1>Candela Ocampo</h1>

<img src="{% static 'assets/img/Foto2.jpeg' %}" width="250" height="250" style="float: right; margin: 0 0 1em 2em"/>

<p>
    Para comenzar a hablar sobre mi, puedo iniciar diciendo que este fue mi primer curso sobre programacion y me sorprendio totalmente este nuevo mundo.
    Me entuciasmo el hecho de poder abrir la mente a diferentes formas de ver cualquier pagina web, ya que luego de hacer este curso y adentrarse un poco en esto, uno se puede imaginar un poquito como es que cada pagina fue creada. 

    Muchas cosas muy interesantes logre adquirir, y se que todavia quedan muchas mas. Creo que no hubo mejor forma de incluir todo gracias a este proyecto final. 
    Presento este blog acerca de un Supermercado, donde cada persona puede crear un usuario y cada uno pueda ir sumando reseñas acerca de los articulos y las formas de pago que este ofrece. 
    Algo muy util para la comunicacion entre clientes acerca de sus compras del dia a dia.
    
</p>


{% endblock contenido %}