{% extends "clientes/inicio.html" %}

{% block titulo %}

<title>Supermercado Candela ARTICULOS </title>

{% endblock titulo %}


{% block contenido %}
<section>
    <div>
        <h1>Lista de articulos</h1>
        <a href="{% url "crear_articulos" %}">Añadir articulo</a>
        <br></br>
        
        <ul>
            {% for articulo in articulo %}<br>
            <li>Codido de articulo: {{articulo.codigo_del_articulo}}<br>
                Marca: {{articulo.marca}}<br>
                Peso: {{articulo.peso}}<br>
            
            
            </li>
            {% endfor %}
        </ul>
    </div>

</section>
{% endblock contenido %}